.main-landing-page {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  color: #fff;
  width: 100%;
}

#greenGlow {
  position: absolute;
  width: 500px;
  height: 500px;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#shoe-detail {
  justify-content: center;
  align-items: normal;
  margin-top: 100px;
}

#glow {
  position: absolute;
  top: 10%;
  right: 2%;
  width: 50%;
  height: 80%;
}

#back-arrow {
  position: absolute;
  top: 50%;
  left: calc(2% - 2rem);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
}

#frw-arrow {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: calc(1% - 2rem);
  transform: translateY(-50%);
  z-index: 100;
}

#frw-arrow:hover {
  font-size: 7rem;
}

.down-arrow {
  position: absolute;
  cursor: pointer;
  bottom: 100%;
}

.shoe-container {
  overflow: hidden;
}

#shoe1 {
  position: relative;
  z-index: 10;
  width: 600px;
  height: 600px;
  transform: rotate(-30deg);
}

.action-buttons {
  margin-top: 50px;
  z-index: 100;
}

.detail-button {
  display: grid;
  margin: 90px auto 0;
  width: fit-content;
}
